{% extends "base.html" %} {% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/blog_detail.css' %}" />
{% endblock %}
{% block main %}
<section class="banner-img">
    <div class="container">
        <img class="img-fluid" src="{% static 'images/banner-img.png' %}" alt="blog-img">
    </div>
</section>

<section class="blog-detail">
    <div class="container">
        <div class="blog-info">
            <h2>{{ blog_detail.blog_title }}</h2>
            <div class="blog-writer">
                <strong>Written by John doe</strong>
                <span>{{blog_detail. }}}</span>
            </div>
        </div>
        <hr>
        <div class="blog-content">
            {{blog_detail.description | safe}}
        </div>
    </div>
</section>
{% endblock %}

